body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f49e00;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 1rem 2rem;
}

header h1 {
  margin: 0;
}

.cart {
  font-size: 1.2rem;
  cursor: pointer;
}

main {
  padding: 2rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
}

.product {
  background-color: rgb(0, 165, 177);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  text-align: center;
}

.product img {
  width: 100%;
  border-radius: 8px;
}

button {
  background-color: #0078d7;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}